:root{ /*declaracion de variables*/
    --color1:#ff0000;
    --color2:#00a2ff98;
    --color3:#131413;
}
.item1{grid-area: Header;}
.item2{grid-area: Menu;}
.item3{grid-area: Main;}
.item4{grid-area: Right;}
.item5{grid-area: Footer;}
.item6{grid-area: Footer;}

html{/*Conversion de 1 rem a 10px*/
    font-size: 62.5%;
}

body{
    background-image: url(iceberg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:768px){
    .grid-container{
        grid-template-areas: auto;
    }
}


#a1,#a2,#a3,#a4{
    color: #e2fcfb;
    font-size: 2rem;
    text-decoration: none;
}

#a1:hover,#a2:hover,#a3:hover,#a4:hover{
    color: #ff0000;
}


.grid-container {
    display: grid;
    grid-template-areas: 'Header Header Header Header Header Header'
    'Menu Main Main Main Right Right'
    'Menu Footer Footer Footer Footer Footer'
    ;
    gap: 10px;
    padding: 10px;
}
.item2{
    width: 290px;
}

.grid-container > div{
    background-color:#e2fcfb;
    filter: opacity(100%);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
div {
    font-family: 'Dancing Script', cursive;
}
.bi{width: 2rem;
    height: 2rem;
    color: rgb(51, 153, 80);
}
.bi1{
    width: 2rem;
    height: 2rem;
    color: rgb(125, 22, 148);
}

.navegacion-principal .material-symbols-outlined{
    color: #043ebc;
}
.bi2{
    width: 2rem;
    height: 2rem;
    color: #ff0000;
}
#a1:focus,#a2:focus,#a3:focus,#a4:focus{
    color:#043ebc;
}
.nav-bg{
    text-align: center;
}



